; PlatformIO Project Configuration File
; -------------------------------------------------------------------------
;
;   Build options: build flags, source filter
;   Upload options: custom upload port, speed and extra flags
;   Library options: dependencies, extra library storages
;   Advanced options: extra scripting
;
; Please visit documentation for the other options and examples
; http://docs.platformio.org/page/projectconf.html

; Configuration Instructions
; -------------------------------------------------------------------------
;
; All #define statements are included using the build flags below.
; Please rename each <YOUR_XXXX> with your name, then rename
; this file to platform.ini before building with PlatformIO.

; Build Flag Descriptions
; -------------------------------------------------------------------------
;
; DEVICE_NAME
; The hostname of your device for OTA updates.
;
; COMMON_ANODE
; Indicates whether LED has a common anode (1) or cathode (0).
;
; RED_PIN, BLUE_PIN, GREEN_PIN, IR_PIN
; The board pin locations of the red, green, and blue LED pins and IR data pin.
;
; WIFI_SSID, WIFI_PASS
; The SSID and password required to connect the ESP8266 to your WiFi network.
;
; OTA_PASS
; The password required for OTA authentication when uploading firmware.
;
; MQTT_SERVER, MQTT PORT, MQTT_USER, MQTT_PASS
; MQTT server name and port with login information.
;
; MQTT_TOPIC
; The topic to which the lights will be subcribed for updates.
; e.g. 'lights/fairy_lights'

[env:d1_mini_lite]
platform = espressif8266
board = d1_mini_lite
framework = arduino
upload_port = <YOUR_DEVICE_IP_ADDRESS>
upload_flags = --auth=<YOUR_OTA_PASS>
build_flags =
  '-D DEVICE="<YOUR_DEVICE_NAME>"'
  '-D COMMON_ANODE=1'
  '-D RED_PIN=XX'
  '-D GREEN_PIN=XX'
  '-D BLUE_PIN=XX'
  '-D IR_PIN=XX'
  '-D WIFI_SSID="<YOUR_WIFI_SSID>"'
  '-D WIFI_PASS="<YOUR_WIFI_PASS>"'
  '-D OTA_PASS="<YOUR_OTA_PASS>"'
  '-D MQTT_SERVER="<YOUR_MQTT_SERVER>"'
  '-D MQTT_PORT=<YOUR_MQTT_PORT>'
  '-D MQTT_USER="<YOUR_MQTT_USER>"'
  '-D MQTT_PASS="<YOUR_MQTT_PASS>"'
  '-D MQTT_TOPIC="<YOUR_MQTT_TOPIC>"'
