; PlatformIO Project Configuration File
;
;   Build options: build flags, source filter
;   Upload options: custom upload port, speed and extra flags
;   Library options: dependencies, extra library storages
;   Advanced options: extra scripting
;
; Please visit documentation for the other options and examples
; http://docs.platformio.org/page/projectconf.html



; Configuration Instructions
;
; All #define statements are included using the build flags below.
; Please rename each <YOUR_XXXX> with your name, then rename
; this file to platform.ini before building with PlatformIO.

[env:d1_mini_lite]
platform = espressif8266
board = d1_mini_lite
framework = arduino
upload_port = <YOUR_DEVICE_IP_ADDRESS>
upload_flags = --auth=<YOUR_OTA_PASS>
build_flags =
  '-D DEVICE="<YOUR_DEVICE_NAME>"'
  '-D WIFI_SSID="<YOUR_WIFI_SSID>"'
  '-D WIFI_PASS="<YOUR_WIFI_PASS>"'
  '-D OTA_PASS="<YOUR_OTA_PASS>"'
  '-D MQTT_SERVER="<YOUR_MQTT_SERVER>"'
  '-D MQTT_PORT=<YOUR_MQTT_PORT>'
  '-D MQTT_USER="<YOUR_MQTT_USER>"'
  '-D MQTT_PASS="<YOUR_MQTT_PASS>"'
  '-D MQTT_TOPIC="<YOUR_MQTT_TOPIC>"'
